<footer class="footer">
	<div class="container">
		<div class="wrapper flex">
			<div class="column flex">
				<h6>BoonJobs</h6>
				<h2>Test tasks for the WordPress developer</h2>
			</div>
			<div class="column flex">
				<h6>Employer</h6>
				<ul>
					<li><a href="#">Post a Job</a></li>
					<li><a href="#">Search Resumes</a></li>
					<li><a href="#">Sign in</a></li>
				</ul>
			</div>
			<div class="column flex">
				<h6>Job Seeker</h6>
				<ul>
					<li><a href="#">Find Jobs</a></li>
					<li><a href="#">Create Resume</a></li>
					<li><a href="#">Sign in</a></li>
				</ul>
			</div>
			<div class="column flex">
				<h6>Get in Touch</h6>
				<ul>
					<li><a href="#">Linkedin</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>