<header class="header">
	<div class="container">
		<div class="wrapper flex">
			<a href="/" class="logo">
				<img src="assets/images/svg/logo.svg" alt="">
			</a>

			<nav class="flex">
				<ul class="header-menu flex">
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Companies</a></li>
					<li><a href="#">Post a Job</a></li>
				</ul>

				<ul class="header-autorize flex">
					<li><a href="#">Sign in</a></li>
					<li><a href="#">Sign up</a></li>
				</ul>
			</nav>

			<a href="#" class="button-burger">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>
</header>