<div style="display: none;">
	<div class="popup popup-form" id="applyPopup">
		<div class="wrapper">
			<h2>Apply now!</h2>
			<p>Elementum magna ac tempor, facilisis tristique mauris. Et penatibus sit sed in ante in ultrices. Senectus aliquam dictum eleifend mi pharetra morbi.</p>

			<form action="" class="typical-form flex">
				<fieldset class="row flex">
					<input type="text" name="firstName" placeholder="First Name">
					<input type="text" name="lastName" placeholder="Last Name">
				</fieldset>

				<input type="tel" name="phone" placeholder="Phone Number">

				<input type="email" name="email" placeholder="Email (e.g example@gmail.com)">

				<select name="country" id="countrySelect">
					<option data-display="Country (e.g USA)"></option>
					<option value="value1">value1</option>
					<option value="value2">value2</option>
					<option value="value3">value3</option>
				</select>

				<select name="state" id="stateSelect">
					<option data-display="State (e.g Alaska)"></option>
					<option value="value1">value1</option>
					<option value="value2">value2</option>
					<option value="value3">value3</option>
				</select>

				<input type="url" name="linkedin" placeholder="LinkedIn profile link">
				<button type="submit" class="button button-primary button-icon">
					Send
					<svg class="icon icon-arrow">
						<use xlink:href="assets/images/svg/sprite.svg#rightArrow"></use>
					</svg>
				</button>
			</form>

			<p><small>We will only use your contact details for the purposes outlined above. By submitting your details, you are consenting to our <a href="#" target="_blank">privacy policy.</a></small></p>
		</div>
	</div>
</div>