* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	font-family: 'NotoSans';
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	color: $darkColor;
}

main {
	position: relative;
	overflow-x: hidden;
}

h1 {
	font-weight: 700;
	line-height: 1.3;
}

img {
	pointer-events: none;
	user-select: none;
}

@media(max-width: 768px) {
	body {
		font-size: 16px;
	}
}