$gray900: #1F1B2D;
$gray700: #666276;
$gray400: #9691A4;
$gray300: #F0F5FD;
$gray200: #E1EAF9;
$gray100: #F5F4F8;
$lightGray: #9F9FB7;

$darkColor: #0F1137;
$whiteColor:#ffffff;

$orangeColor: #FD5631;
$lightOrangeColor: #FC9001;
$blueColor: #0601FC;

$borderLightGrayColor:#DCDCE0;
$borderGrayColor:#C2C5E1;