@font-face {
	font-family: 'SourceSansPro';
	font-weight: 400;
	src: url(../fonts/SourceSansPro-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'SourceSansPro';
	font-weight: 700;
	src: url(../fonts/SourceSansPro-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: url(../fonts/NotoSans-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url(../fonts/NotoSans-Bold.woff2) format('woff2');
}


